<div class="login-container">
  <div style="width: 100%;justify-content: center;display: flex;">
    <img style="width: 80%;" src="/assets/img/logo.png" alt="">
  </div>
  <div class="card-container">
    <div style="width: 100%;padding-right:40px;">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
        <div class="custom-input">
          <mat-label class="custom-label">Email</mat-label>
          <input class="input-custom" formControlName="email" placeholder="Digite seu email">
          <mat-error *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
            Email é obrigatório e deve ser um email válido.
          </mat-error>
        </div>
        <div style="width: 100%;display:flex; justify-content: center;margin-top: 15px;">
          <button [disabled]="!form.valid" mat-stroked-button class="submit-button" type="submit">
            Acessar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>