<div class="container">
      <h2>Estrutura do Campeonato</h2>
      <ul>
        <li><strong>Times Participantes:</strong> O campeonato contará com 8 times, divididos em duas chaves.</li>
        <li><strong>Formato:</strong> Baseado no formato da Copa do Mundo, com duas chaves, classificando 2 times de cada chave para as quartas de final, seguidas de semifinais e final, e disputa do 3º lugar.</li>
        <li><strong>Jogos:</strong> As partidas serão realizadas uma vez por semana. Haverá 4 jogos em um dia durante a fase de pontos.</li>
        <li><strong>Duração das Partidas:</strong> Cada jogo terá a duração total de 40 minutos, divididos em dois tempos de 20 minutos.</li>
        <li><strong>Definição dos Uniformes:</strong> O Saideira FC confeccionará as camisas das seleções. Os jogadores devem usar meiões e shorts nas cores definidas pelo Saideira FC. Exemplo: Para a seleção Alemã com camisa vermelha, o calção e meião serão pretos. A não conformidade com o uniforme definido impedirá a participação no jogo.</li>
      </ul>

      <h2>Punições</h2>
      <ul>
        <li><strong>Cartão Amarelo:</strong> 2 minutos fora e 1 kg de alimento.</li>
        <li><strong>Cartão Vermelho:</strong> 1 jogo fora e 2 kg de alimentos.</li>
        <li><strong>Destinação dos Alimentos:</strong> Todos os alimentos arrecadados serão destinados a obras de caridade.</li>
      </ul>

      <h2>Premiações</h2>
      <ul>
        <li><strong>Melhor da Partida:</strong> Toda partida terá um prêmio para o melhor jogador.</li>
        <li><strong>Premiações Gerais:</strong> Haverá premiações em valores, troféus e medalhas para:
          <ul>
            <li>Primeiro Lugar</li>
            <li>Segundo Lugar</li>
            <li>Terceiro Lugar</li>
          </ul>
        </li>
        <li><strong>Artilheiro e Goleiro Menos Vazado:</strong> Receberão premiações em valores.</li>
      </ul>
</div>
<footer style="display: flex;justify-content: center;padding: 30px;">
  <button mat-raised-button (click)="checkTerm()">De acordo!</button>
</footer>
