<div class="container">
  <h1>Campeonato Saideira FC</h1>

  <p>Este documento tem como objetivo fornecer informações detalhadas sobre o Campeonato organizado pelo Saideira FC. Por favor, leia atentamente todas as seções abaixo para garantir que você esteja ciente dos detalhes e requisitos para participar.</p>

  <h2>1. Organização do Campeonato</h2>
  <ul>
    <li>O campeonato é totalmente organizado pelo Saideira FC.</li>
    <li>Não envolve qualquer órgão público ou prefeitura.</li>
    <li>É um evento com fins sociais, de entretenimento e beneficente.</li>
  </ul>

  <h2>2. Participantes</h2>
  <ul>
    <li>O campeonato é exclusivo para moradores do município onde o evento será realizado.</li>
    <li>Todos os participantes devem comprovar residência no município.</li>
  </ul>

  <h2>3. Local e Duração</h2>
  <ul>
    <li>O campeonato ocorrerá no campo sintético localizado no município.</li>
    <li>A duração aproximada do campeonato será de 6 semanas, incluindo todos os jogos programados.</li>
  </ul>

  <h2>4. Objetivo</h2>
  <ul>
    <li>O principal objetivo do campeonato é promover a integração e o entretenimento entre os moradores do município.</li>
    <li>O evento também visa arrecadar fundos e apoio para causas beneficentes locais.</li>
  </ul>

  <h2>5. Regras e Condições</h2>
  <ul>
    <li>Os participantes devem seguir todas as regras estabelecidas pelo Saideira FC.</li>
    <li>É essencial que todos os jogadores e equipes respeitem os regulamentos do campeonato.</li>
  </ul>
</div>
<footer style="display: flex;justify-content: center;padding: 30px;">
  <button mat-raised-button (click)="checkTerm()">De acordo!</button>
</footer>
