/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #222232;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background: #222232;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para Cabeçalhos */
h1 {
  color: #FFF;
  font-size: 1.8em;
  margin-bottom: 20px;
}

h2 {
  color: #FFF;
  font-size: 1.4em;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Estilos para Listas */
ul {
  margin: 10px 0;
  padding: 0;
  list-style-type: disc;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

/* Estilos para Parágrafos */
p {
  margin: 0;
  padding: 0;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  ul {
    margin-left: 15px;
  }

  p {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  .container {
    padding: 10px;
  }

  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1em;
  }

  ul {
    margin-left: 10px;
  }

  p {
    font-size: 0.8em;
  }
}
