<div class="container">
      <h2>Termo de Autorização</h2>
      <p>
        Ao participar do campeonato organizado pelo Saideira FC, você concorda com os seguintes termos relativos ao uso de suas imagens e informações:
      </p>
      <ul>
        <li><strong>Autorização para Uso:</strong> Você autoriza o Saideira FC a utilizar suas imagens e informações pessoais em materiais promocionais, publicitários e em mídias sociais relacionados ao campeonato.</li>
        <li><strong>Escopo da Utilização:</strong> Suas imagens poderão ser usadas em fotos, vídeos e outros conteúdos que promovam e divulguem o campeonato. Isso pode incluir, mas não se limita a, redes sociais, websites e materiais impressos.</li>
        <li><strong>Não Remuneração:</strong> A utilização das imagens e informações será feita sem qualquer compensação financeira ou remuneração adicional.</li>
        <li><strong>Revogação:</strong> Você pode solicitar a revogação da autorização a qualquer momento, mas entende que isso não afetará o uso das imagens e informações já publicadas antes da solicitação.</li>
        <li><strong>Responsabilidade:</strong> O Saideira FC não se responsabiliza por qualquer forma de compensação ou remuneração pelo uso das imagens e informações conforme descrito.</li>
      </ul>
      <p>
        Ao assinar este termo, você confirma que leu e compreendeu as condições e dá seu consentimento para o uso de suas imagens e informações conforme descrito acima.
      </p>
</div>
<footer style="display: flex;justify-content: center;padding: 30px;">
  <button mat-raised-button (click)="checkTerm()">De acordo!</button>
</footer>
