<!-- src/app/terms/terms.component.html -->
<div class="cards-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Sobre o campeonato</mat-card-title>
      <mat-card-subtitle>Termo de participação</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="term1()">Saiba mais...</button>
    </mat-card-actions>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Quem pode participar?</mat-card-title>
      <mat-card-subtitle>Termo de participação</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button (click)="term2()" mat-button>Saiba mais...</button>
    </mat-card-actions>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Regras e procedimentos</mat-card-title>
      <mat-card-subtitle>Termo de participação</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button (click)="term3()" mat-button>Saiba mais...</button>
    </mat-card-actions>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Direitos de imagem e mídia</mat-card-title>
      <mat-card-subtitle>Termo de participação</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button (click)="term4()" mat-button>Saiba mais...</button>
    </mat-card-actions>
  </mat-card>
</div>
