.cards-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

mat-card {
  flex: 1 1 calc(33.333% - 16px);
  max-width: calc(33.333% - 16px);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  mat-card {
    flex: 1 1 calc(50% - 16px);
    max-width: calc(50% - 16px);
  }
}

@media (max-width: 480px) {
  mat-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

 .mobile-tabbar {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    justify-content: space-around;
    padding: 10px 0;
  }

  /* Exibir a TabBar em dispositivos móveis */
  @media (max-width: 768px) {
    .mobile-tabbar {
      display: flex;
    }

    .cards-container {
      padding-bottom: 60px; /* Ajustar espaço para não sobrepor a TabBar */
    }
  }
