<div class="container">
    <div class="image-container">
      <img src="assets/img/oboarding.png" alt="">
    </div>
    <div class="title-container">
      <h6 class="title">Bem vindo, campeonato Saidera F.C.</h6>
    </div>
    <div class="text-container">
      <p>Você foi escolhido entre vários atletas para participar do campeonato Saidera F.C.</p>
      <p>Parabenizamos você por ter sido escolhido e desejamos que você tenha uma ótima experiência.</p>
    </div>
    <div class="button-container">
      <button mat-stroked-button style="width: 80%;padding: 45px;color: #FFFF;" (click)=" goLogin()">Seguir para login!</button>
    </div>
  </div>
  