<div class="jogador-form-container">
      <form [formGroup]="jogadorForm" (ngSubmit)="onSubmit()">

        <div class="form-row">
          <div class="header" style="margin-top: 10px;">
            <div class="upload">
              <!-- Container para seleção de arquivo e captura de imagem -->
              <div class="upload-container" (click)="openFileSelector()">
                <input type="file" #fileInput style="display: none" (change)="onFileChange($event)" accept="image/jpeg, image/png">
                <div class="upload-image">
                  <img [src]="imagePreview || '/assets/img/messi_pixar.png'" alt="Imagem"/>
                </div>
                <button mat-fab class="upload-button" type="button">
                  <span style="color: #ffff;" class="material-symbols-outlined">photo_camera</span>
                </button>
              </div>
              <!-- Video da câmera que aparece apenas quando necessário -->
              <div class="camera-controls" *ngIf="showCamera">
                <video #video autoplay></video>
              </div>
            </div>
          </div>
          <div class="custom-input">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" placeholder="Emerson de Abreu">
            <mat-error *ngIf="jogadorForm.controls['nome'].invalid && jogadorForm.controls['nome'].touched">
              Nome é obrigatório.
            </mat-error>
          </div>
          <div class="custom-input">
            <mat-label>Telefone</mat-label>
            <input [imask]="{mask: '(00)00000-0000'}" matInput formControlName="telefone"  placeholder="(18)99999-9999">
            <mat-error *ngIf="jogadorForm.controls['telefone'].invalid && jogadorForm.controls['telefone'].touched">
              Telefone é obrigatório.
            </mat-error>
          </div>

        </div>

        <div class="form-row">
          <div class="custom-input">
            <mat-label>Idade</mat-label>
            <input  placeholder="35"  type="number" formControlName="idade">
            <mat-error *ngIf="jogadorForm.controls['idade'].invalid && jogadorForm.controls['idade'].touched">
              Idade é obrigatória e deve ser um número.
            </mat-error>
          </div>
          <div class="custom-input">
            <mat-label>Posição</mat-label>
            <input  placeholder="Selecione sua Posição" matInput formControlName="posicao">
            <mat-error *ngIf="jogadorForm.controls['posicao'].invalid && jogadorForm.controls['posicao'].touched">
              Posição é obrigatória.
            </mat-error>
          </div>
          <div class="custom-input">
            <mat-label>Altura (em cm)</mat-label>
            <input [imask]="{mask: '0.00'}"  placeholder="180" matInput type="number" formControlName="altura">
            <mat-error *ngIf="jogadorForm.controls['altura'].invalid && jogadorForm.controls['altura'].touched">
              Altura é obrigatória e deve ser um número.
            </mat-error>
          </div>
        </div>
        <div class="form-row">
          <div class="custom-input">
            <mat-label>Peso (em kg)</mat-label>
            <input  placeholder="100" matInput type="number" formControlName="peso">
            <mat-error *ngIf="jogadorForm.controls['peso'].invalid && jogadorForm.controls['peso'].touched">
              Peso é obrigatório e deve ser um número.
            </mat-error>
          </div>
        </div>
        <div class="form-row">
            <h3>Endereço</h3>
            <div class="custom-input">
              <mat-label>CEP</mat-label>
              <input [imask]="{mask: '00000-000'}" placeholder="19220-000" matInput formControlName="cep">
              <mat-error *ngIf="jogadorForm.controls['cep'].invalid && jogadorForm.controls['cep'].touched">
                CEP é obrigatório.
              </mat-error>
            </div>
            <div class="custom-input">
              <mat-label>Logradouro</mat-label>
              <input  placeholder="Rua Dom Pedro I" matInput formControlName="logradouro">
              <mat-error *ngIf="jogadorForm.controls['logradouro'].invalid && jogadorForm.controls['logradouro'].touched">
                Logradouro é obrigatório.
              </mat-error>
            </div>
            <div class="custom-input">
              <mat-label>Número</mat-label>
              <input  placeholder="366" matInput formControlName="numero">
              <mat-error *ngIf="jogadorForm.controls['numero'].invalid && jogadorForm.controls['numero'].touched">
                Número é obrigatório.
              </mat-error>
            </div>
            <div class="custom-input">
              <mat-label>Bairro</mat-label>
              <input  placeholder="Centro" matInput formControlName="bairro">
              <mat-error *ngIf="jogadorForm.controls['bairro'].invalid && jogadorForm.controls['bairro'].touched">
                Bairro é obrigatório.
              </mat-error>
            </div>

            <div class="custom-input">
              <mat-label>Cidade</mat-label>
              <input  placeholder="Narandiba SP" matInput formControlName="cidade">
              <mat-error *ngIf="jogadorForm.controls['cidade'].invalid && jogadorForm.controls['cidade'].touched">
                Cidade é obrigatório.
              </mat-error>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 65px;">
          <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">Salvar</button>
        </div>
      </form>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
<footer  style="border:none;background-color:  transparent #ffff;" class="mobile-tabbar">
  <button style="border: #C4C4C4; background: none;" class="ion-no-border" mat-button (click)="goBack()"> <span style="font-size: 35px;color: #C4C4C4;" class="material-symbols-outlined">
      arrow_circle_left
      </span></button>
  <button style="border: #C4C4C4; background: none;" class="ion-no-border" mat-button   (click)="navigateToHome()"><span style="font-size: 35px;color: #C4C4C4;" class="material-symbols-outlined">home</span></button>
  <button style="border: #C4C4C4; background: none;" mat-button (click)="navigateToProfile()"><span style="font-size: 35px;color: #C4C4C4;" class="material-symbols-outlined">
      account_circle
      </span></button>
</footer>
