// src/app/jogador-form/jogador-form.component.scss
.jogador-form-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

mat-card {
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

.form-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
