<!-- src/app/terms/participation-terms.component.html -->
<div class="container">
      <h2>Termo de Participação</h2>
      <p>Este termo define quem pode participar do campeonato e os requisitos que devem ser atendidos. Por favor, leia atentamente os critérios a seguir:</p>

      <ul>
        <li><strong>Apenas convidados:</strong> A participação é restrita a jogadores que foram formalmente convidados para o campeonato.</li>
        <li><strong>Não é transferível:</strong> A vaga no campeonato não pode ser transferida para outra pessoa. Somente o jogador originalmente convidado pode participar.</li>
        <li><strong>Estado de saúde:</strong> Todos os jogadores devem estar em bom estado de saúde e serem capazes de participar do campeonato de forma segura.</li>
        <li><strong>Residência:</strong> O jogador deve estar registrado no município onde o campeonato está sendo realizado.</li>
        <li><strong>Pagamento das taxas:</strong> A participação só será confirmada após a realização do pagamento de todas as taxas impostas. As taxas devem ser pagas dentro dos prazos estabelecidos.</li>
        <li><strong>Datas limites:</strong> Todos os pagamentos devem ser realizados até as datas limites estipuladas. Após o prazo, o jogador não poderá participar do campeonato.</li>
      </ul>

      <p>Certifique-se de cumprir todos os requisitos para garantir sua participação no campeonato. Caso tenha alguma dúvida, entre em contato com a organização.</p>

</div>
<footer style="display: flex;justify-content: center;padding: 30px;">
  <button mat-raised-button (click)="checkTerm()">De acordo!</button>
</footer>
