<div style="margin-top: 15px;" class="cards-container">
  <mat-card *ngFor="let jogador of jogadores" class="player-card">
    <mat-card-header class="player-header">
      <img 
        mat-card-avatar 
        [src]="jogador.imagem || defaultImage" 
        alt="Foto do jogador" 
        (click)="openImageDialog(jogador.imagem || defaultImage)" 
        class="clickable-image" 
        (error)="jogador.imagem = defaultImage"  
      >
      <mat-card-title class="player-name">{{ getTruncatedName(jogador.nome) }}</mat-card-title>
      <mat-card-actions class="action-button-container">
        <button mat-button (click)="playerDetails(jogador.id)">Ver detalhes</button>
      </mat-card-actions>
    </mat-card-header>
  </mat-card>
</div>

<footer style="border:none;background-color: transparent #ffff;" class="mobile-tabbar">
  <button style="border: #C4C4C4; background: none;" class="ion-no-border" mat-button (click)="goBack()">
    <span style="font-size: 35px;color: #C4C4C4;" class="material-symbols-outlined">arrow_circle_left</span>
  </button>
  <button style="border: #C4C4C4; background: none;" class="ion-no-border" mat-button (click)="navigateToHome()">
    <span style="font-size: 35px;color: #C4C4C4;" class="material-symbols-outlined">home</span>
  </button>
  <button style="border: #C4C4C4; background: none;" class="ion-no-border" mat-button (click)="navigateToProfile()">
    <span  style="font-size: 35px;color: #C4C4C4;" class="material-symbols-outlined">account_circle</span>
  </button>
</footer>
