/* Estilo para o card */
.card-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50vh;
  background-color: #222232;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Estilo para o input */
.input-custom {
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  color: #FFFF;
  border: 1px solid #ccc;
}

/* Botão de envio */
.submit-button {
  width: 80%;
  padding: 45px;
  color: #FFFF;
  background-color: #444; /* Cor para o estado ativo */
  border: 1px solid #FFFF;
}

/* Botão desabilitado */
.submit-button[disabled] {
  background-color: #555 !important; /* Cor do botão desabilitado */
  border-color: #777 !important; /* Borda do botão desabilitado */
  color: #aaa !important; /* Cor do texto do botão desabilitado */
  cursor: not-allowed; /* Indicativo visual de que o botão está desabilitado */
  padding: 45px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .card-container {
    height: 60vh;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding: 15px;
  }

  .input-custom {
    padding: 15px;
    border-radius: 10px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .input-custom {
    padding: 10px;
    border-radius: 8px;
    width: 100%;
  }
}

/* Label customizado */
.custom-label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #fff;
}

/* Estilo para mat-error */
mat-error {
  color: red !important;
  font-weight: normal !important;
  font-size: 14px !important;
}
